@page
@model Jurasssic_World.Pages.Exhib.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exhibits</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhibits.EN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhibits.EN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhibits.EL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhibits.EL)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Exhibits.EID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
